<section>
  <form>
    <mat-form-field>
      <mat-label>Ingrese correo</mat-label>
      <input type="email" matInput placeholder="bob@gmail.com" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ingrese contraseña</mat-label>
      <input type="password" matInput placeholder="Ingrese contraseña" />
    </mat-form-field>
  </form>
</section>

<section id="container">
  <div id="element1" class="element"></div>
  <div id="element2" class="element"></div>
  <div id="element3" class="element"></div>
</section>
